{% extends 'blog/base.html' %}

{% block title %}My Feed{% endblock %}

{% block content %}
<h1>My Feed</h1>
<ul>
    {% for article in articles %}
        <li>
            <a href="{% url 'article_detail' pk=article.id %}">{{ article.title }}</a> by {{ article.author }}
        </li>
    {% endfor %}
</ul>
{% if not articles %}
    <p>You haven't subscribed to any topics or there are no articles available under your subscribed topics.</p>
    <p><a href="{% url 'topic_list' %}">Browse Topics</a> to subscribe.</p>
{% endif %}
{% endblock %}